body {
	font-family: Segoe;
	font-size: 14px;
	color: #777;
}

header {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 20px;
}

header h1 {
	font-size: 30px;
}

#hero {
	background-image:url("../img/slide-1.jpg") ;
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color: #fff;
}

#hero h3, #hero h2 {
	text-transform: uppercase;
}

#hero h3 {
	color: #cdb083;
	font-size: 18px;
}

#hero h2 {
	font-size: 45px;
}

#hero h2 span{
	display: block;
}

#hero .btn-light {
	padding: 2px 50px;
	background-color: transparent;
	border: 1px solid #cdb083;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 0;
	color: #cdb083;
	margin-top: 5%;
}

#hero .btn-light:hover {
	border: 1px solid #B59667;
}

.section {
	padding: 10% 0;
}
#modern {
	background-color: #EAEAEA;
}

.titulo {
	color: #af9f66;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 8px;
	font-weight: 400;
}
.subtitulo {
	color: #999794;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 8px;
	margin-bottom: 30px;
}

#modern h4 {
	color: #999794;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0;
}

.btn-dorado {
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 30px;
	background-color: #af9f66;
	color: #fff;
	border-radius: 30px;
	margin-top: 30px;
	border: 0;
}

.btn-dorado:hover {
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 30px;
	background-color: #fff;
	color: #af9f66;
	border-radius: 30px;
	margin-top: 30px;
	border: 0;
}
#world {
	margin-top: 10px;
	background-color: #EAEAEA;
}